@use "../../scss/color" as color;
@use "../../scss/font" as font;
@use "../../scss/layout" as layout;

.content-container {
    display: block;
    width: 100%;
    height: 100%;
}

.post-list-toolbar {
    width: 100%;
    height: layout.$POST_LIST_TOOLBAR_HEIGHT;

    &[data-colormode = 'light'] {
        background-color: color.$LIGHT_HEADER_COLOR;
        border-bottom: 1px solid color.$LIGHT_HEADER_BOTTOM_BORDER_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: color.$DARK_HEADER_COLOR;
        border-bottom: 1px solid color.$DARK_HEADER_BOTTOM_BORDER_COLOR;
    }
}

.post-list-title {
    margin-left: 25px;
    font-size: font.$FONT_SIZE_HEADLINE;
    font-weight: font.$FONT_WEIGHT_HEADLINE;

    &[data-colormode = 'light'] {
        color: color.$LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        color: color.$DARK_TEXT_COLOR;
    }
}

.post-list {
    display: block;
    width: 100%;
    height: calc(100% - #{layout.$POST_LIST_TOOLBAR_HEIGHT});
    overflow: scroll;
}
