@import "../../scss/color";
@import "../../scss/font";

.content-container {
    &[data-colormode = 'light'] {
        background-color: $LIGHT_INNER_BG_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: $DARK_INNER_BG_COLOR;
        border: 2px solid $DARK_HEADER_BOTTOM_BORDER_COLOR;
    }
}

.close-bar {
    height: 40px;

    &[data-colormode = 'light'] {
        background-color: $LIGHT_INNER_BG_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: $DARK_INNER_BG_COLOR;
    }

    a {
        height: 32px;
        width: 32px;
        margin: 4px;
    }
}

.post-content {
    height: 80vh;
    overflow-y: scroll;
    padding: 0 25px 10px 25px;
}

.media {
    display: block;
}

.loading-spin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-section {
    padding: 25px 10px 0 10px;
}

.post-info, .comment-info {
    span {
        font-size: $FONT_SIZE_SUBHEAD;
        font-weight: $FONT_WEIGHT_SUBHEAD;
    }

    .subreddit-name {
        margin-right: 15px;
    }

    .post-time, .comment-time, .comment-score {
        margin-left: 15px;
    }

    &[data-colormode = 'light'] {
        color: $LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        color: $DARK_TEXT_COLOR;
    }
}

.title {
    font-size: $FONT_SIZE_TITLE2;
    font-weight: $FONT_WEIGHT_TITLE2;
    margin: 5px 0 10px 0;

    &[data-colormode = 'light'] {
        color: $LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        color: $DARK_TEXT_COLOR
    }
}

.open-in-browser-btn {
    &[data-colormode = 'light'] {
        color: $LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        color: $DARK_TEXT_COLOR;
    }
}

::ng-deep .self-text-light {
    .md {
        color: $LIGHT_TEXT_COLOR;
        font-size: $FONT_SIZE_BODY;
    }
}

::ng-deep .self-text-dark {
    .md {
        color: $DARK_TEXT_COLOR;
        font-size: $FONT_SIZE_BODY;
    }
}

.score-comment {
    &[data-colormode = 'light'] {
        color: $LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        color: $DARK_TEXT_COLOR;
    }

    .score, .num-comment {
        margin: 0 10px 0 10px;
        font-size: $FONT_SIZE_SUBHEAD;
        font-weight: $FONT_WEIGHT_SUBHEAD;
    }
}