@import "../scss/color";

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.content-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    min-width: 1280px;
    min-height: 720px;
}

nz-spin {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: #f7f7f766;

    &::ng-deep .ant-spin {
        max-height: 66%;
    }
}

.logo {
    width: 135px;
    height: 35px;
    margin: 5px 30px 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
        font-size: x-large;
        font-weight: 600;
    }
}

.header {
    height: 45px;
    width: 100%;

    &[data-colormode = 'light'] {
        background-color: $LIGHT_HEADER_COLOR;
        border-bottom: 2px solid $LIGHT_HEADER_BOTTOM_BORDER_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: $DARK_HEADER_COLOR;
        border-bottom: 2px solid $DARK_HEADER_BOTTOM_BORDER_COLOR;
    }
}

.outer-content {
    padding: 20px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &[data-colormode="light"] {
        background-color: $LIGHT_BG_COLOR;
    }

    &[data-colormode="dark"] {
        background-color: $DARK_BG_COLOR;
    }
}

.inner-layout {
    width: 85%;
    height: 100%;
}

.inner-content {
    min-height: 280px;

    &[data-colormode = 'light'] {
        background-color: $LIGHT_INNER_BG_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: $DARK_INNER_BG_COLOR;
    }
}

.sider-menu {
    height: calc(100% - 75px);
}

.sider-collapse-btn {
    height: 30px;
    width: 100%;

    &[data-colormode = 'light'] {
        background-color: $LIGHT_SIDER_BG_COLOR;
        color: $LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: $DARK_SIDER_BG_COLOR;
        color: $DARK_TEXT_COLOR;
    }    
}

::ng-deep .sider-collapse-btn.ant-btn {
    background-color: #345678;
    border-radius: 0px;
    border: 0px;
} 

::ng-deep .sider-menu.ant-menu-dark {
    background-color: $DARK_SIDER_BG_COLOR;
}

::ng-deep .sider-menu.ant-menu-inline, .sider-menu.ant-menu-inline-collapsed {
    border-right: 0px;
}

.sider-toolbar {
    height: 45px;

    &[data-colormode = 'light'] {
        background-color: $LIGHT_SIDER_BG_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: $DARK_SIDER_BG_COLOR;
    }
}

.sider-toolbar-button {
    height: 35px; 
    width: 35px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

    span {
        font-size: large;
    }

    &[data-colormode = 'light'] {
        a {
            color: black;
        }
        
    }

    &[data-colormode = 'dark'] {
        a {
            color: white;
        }
        
    }
}

nz-footer {
    text-align: center;

    &[data-colormode = 'light'] {
        background-color: $LIGHT_BG_COLOR;
        color: darkgrey;
    }

    &[data-colormode = 'dark'] {
        background-color: $DARK_BG_COLOR;
        color: #345678;
    }
}

::ng-deep .ant-layout-footer {
    padding: 15px 50px;
}
