<div class="content-container">
    <nz-layout>
        <div class="header" [ngClass]="uiTheme.theme === 'light' ? 'header-light' : 'header-dark'" >
            <div nz-row>
                <div nz-col nzSpan="3">
                    <div class="logo">

                    </div>
                </div>
                <div nz-col nzSpan="20">

                </div>
                <div nz-col nzSpan="1">
                    <div nz-dropdown [nzDropdownMenu]="menu" class="drop-down-menu-button">
                        <span nz-icon nzType="user" nzTheme="outline"></span>
                    </div>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item>
                                <a [routerLink]="'/preferences'">Preferences</a>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
        </div>
        <nz-content class="outer-content">
            <nz-layout class="inner-layout">
                <nz-sider nzWidth="200px" nzTheme="dark">
                    <ul nz-menu nzMode="inline" class="sider-menu">
                        <li nz-submenu nzOpen nzTitle="Feeds" nzIcon="bars">
                            <ul>
                                <li nz-menu-item [routerLink]="'/home'" [nzMatchRouterExact]="true" [nzMatchRouter]="true" nzSelected>
                                    <span nz-icon nzType="home" nzTheme="outline"></span>&nbsp;Home
                                </li>
                                <li nz-menu-item [routerLink]="'/popular'" [nzMatchRouterExact]="true" [nzMatchRouter]="true"nzIcon="bars">
                                    <span nz-icon nzType="rise" nzTheme="outline"></span>&nbsp;Popular
                                </li>
                            </ul>
                        </li>
                        <li nz-submenu nzOpen nzTitle="Topics" nzIcon="eye">
                            
                        </li>
                    </ul>
                </nz-sider>
                <nz-content class="inner-content">
                    <div class="workspace">
                        <router-outlet></router-outlet>
                    </div>
                </nz-content>
            </nz-layout>
            <nz-footer >JG Reddit App ©2023 By JG</nz-footer>
        </nz-content>
    </nz-layout>    
</div>
