<div class="content-container">
    <nz-layout>
        <div class="header" [attr.data-colormode]="uiSetting.colorMode">
            <div nz-row [nzJustify]="'space-between'" [nzAlign]="'middle'">
                <a (click)="goToHome()">
                    <div class="logo">
                        <span nz-icon nzType="reddit" nzTheme="outline"></span>&nbsp;
                        <span>JG Reddit</span>
                    </div>
                </a>
                <div class="search-logo" [attr.data-colormode]="uiSetting.colorMode"
                    nz-tooltip nzTooltipTitle="Search For a Community">
                    <a (click)="goToSearch()">
                        <span nz-icon nzType="search" nzTheme="outline"></span>
                    </a>
                </div>
            </div>
        </div>
        <nz-layout>
            <nz-sider nzWidth="220px" [(nzCollapsed)]="siderCollapsed">
                <button nz-button nzType="text" class="sider-collapse-btn" [attr.data-colormode]="uiSetting.colorMode"
                    (click)="toggleSideMenuCollapse()">
                    <span *ngIf="siderCollapsed">>></span>
                    <span *ngIf="!siderCollapsed"><<</span>
                </button>
                <ul nz-menu nzMode="inline" class="sider-menu" [nzTheme]="uiSetting.colorMode">
                    <li nz-submenu nzOpen nzTitle="Feeds" nzIcon="bars">
                        <ul>
                            <li nz-menu-item [routerLink]="'/home'" [nzMatchRouterExact]="true" [nzMatchRouter]="true" nzSelected>
                                <span nz-icon nzType="home" nzTheme="outline"></span>&nbsp;Home
                            </li>
                            <li nz-menu-item [routerLink]="'/hot'" [nzMatchRouterExact]="true" [nzMatchRouter]="true">
                                <span nz-icon nzType="fire" nzTheme="outline"></span>&nbsp;Hot
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu nzOpen nzTitle="Favourite Subs" nzIcon="star">
                        <ul>
                            <li *ngFor="let item of favouriteSubreddits" nz-menu-item [routerLink]="'/subreddit/'+item.subName" [nzMatchRouter]="true">
                                {{ item.displayName }}
                            </li>
                        </ul>
                    </li>
                </ul>
                <div nz-row [nzJustify]="'center'" class="sider-toolbar" [attr.data-colormode]="uiSetting.colorMode">
                    <div class="sider-toolbar-button" [attr.data-colormode]="uiSetting.colorMode"
                        nz-tooltip nzTooltipTitle="Preferences">
                        <a [routerLink]="'/preferences'">
                            <span nz-icon nzType="setting" nzTheme="outline"></span>
                        </a>
                    </div>
                </div>
            </nz-sider>
            <nz-content class="outer-content" [attr.data-colormode]="uiSetting.colorMode">
                <nz-layout class="inner-layout">
                    <nz-content class="inner-content" [attr.data-colormode]="uiSetting.colorMode">
                        <router-outlet></router-outlet>
                    </nz-content>
                </nz-layout>
                <nz-footer [attr.data-colormode]="uiSetting.colorMode">
                    JG Reddit App ©2023 By JG
                </nz-footer>
            </nz-content>
        </nz-layout>
    </nz-layout>

    <nz-spin [nzSpinning]="loadingSpinningEffect" [nzSize]="'large'" *ngIf="loadingSpinningEffect" [nzTip]="loadingText">
        <div>&nbsp;</div>
    </nz-spin>
</div>
