@use "../../scss/color" as color;
@use "../../scss/font" as font;
@use "../../scss/layout" as layout;

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.toolbar {
    width: 100%;
    height: layout.$POST_LIST_TOOLBAR_HEIGHT;

    &[data-colormode = 'light'] {
        background-color: color.$LIGHT_HEADER_COLOR;
        border-bottom: 1px solid color.$LIGHT_HEADER_BOTTOM_BORDER_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: color.$DARK_HEADER_COLOR;
        border-bottom: 1px solid color.$DARK_HEADER_BOTTOM_BORDER_COLOR;
    }
}

.title {
    margin-left: 25px;
    font-size: font.$FONT_SIZE_HEADLINE;
    font-weight: font.$FONT_WEIGHT_HEADLINE;

    &[data-colormode = 'light'] {
        color: color.$LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        color: color.$DARK_TEXT_COLOR;
    }
}

.search-bar {
    display: flex;
    width: 75%;

    input {
        height: 40px;
        margin: 10px 0 10px 0;
    }
}

.search-input {
    border-radius: 5px;
    border-color: color.$DARK_BOX_BORDER_COLOR;
}

.search-input-dark {
    background-color: color.$DARK_POST_CELL_BG_COLOR !important;
    color: color.$DARK_TEXT_COLOR !important;
}

.checkbox-dark {
    color: color.$DARK_TEXT_COLOR !important;
}

.search-results {
    display: block;
    width: 65%;
    height: calc(100% - #{layout.$POST_LIST_TOOLBAR_HEIGHT} - 120px);
    overflow: scroll;
    padding: 25px;
    margin: 20px 50px 0 50px;
    border-radius: 5px;

    &[data-colormode = 'light'] {
        background-color: color.$LIGHT_POST_CELL_BG_COLOR;
        box-shadow: 0 1px 1px #091E4240;
    }

    &[data-colormode = 'dark'] {
        background-color: color.$DARK_POST_CELL_BG_COLOR;
    }
}

::ng-deep .empty-placeholder-dark {
    p {
        color: color.$DARK_TEXT_COLOR !important;
    }
}

.search-result-line {
    a {
        font-size: font.$FONT_SIZE_HEADLINE;
        font-weight: font.$FONT_SIZE_HEADLINE;
    }

    a:hover {
        color: color.$LINK_HOVERED_COLOR;
    }

    &[data-colormode = 'light'] {
        a {
            color: color.$LIGHT_TEXT_COLOR;
        }
    }

    &[data-colormode = 'dark'] {
        a {
            color: color.$DARK_TEXT_COLOR
        }
    }
}

.divider {
    height: 1px;
    margin: 15px 0;

    &[data-colormode = 'light'] {
        background-color: color.$LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: color.$DARK_TEXT_COLOR;
    }
}
