<div class="content-container">
    <div nz-row [nzAlign]="'middle'" [nzJustify]="'space-between'" class="toolbar" [attr.data-colormode]="uiSetting.colorMode">
        <div class="title" [attr.data-colormode]="uiSetting.colorMode">
            <span>Search For a Community</span>
        </div>
    </div>
    <div nz-row class="search-bar">
        <input nz-input type="text" placeholder="Type a subreddit name..." class="search-input" 
            [ngClass]="'search-input-'+uiSetting.colorMode" [formControl]="searchControl">
    </div>
    <div class="search-results" [attr.data-colormode]="uiSetting.colorMode">
        <ng-container *ngIf="names.length === 0 && !loading">
            <nz-empty [nzNotFoundContent]="'No results'" [ngClass]="'empty-placeholder-'+uiSetting.colorMode"></nz-empty>
        </ng-container>
        <ng-container *ngIf="loading">
            <div nz-row [nzAlign]="'middle'" [nzJustify]="'center'" style="height: 50px">
                <nz-spin nzSimple></nz-spin>
            </div>
        </ng-container>
        <ng-container>
            <div *ngFor="let name of names; let isLast = last" class="search-result-line" [attr.data-colormode]="uiSetting.colorMode">
                <a (click)="goToSubreddit(name)">r/{{ name }}</a>
                <div *ngIf="!isLast" class="divider" [attr.data-colormode]="uiSetting.colorMode"></div>
            </div>
        </ng-container>
    </div>
</div>