<div class="content-container">
    <div *ngFor="let post of posts" class="post-cell" [attr.data-colormode]="uiSetting.colorMode">
        <div nz-row>
            <div nz-col nzSpan="20">
                <div nz-row [nzAlign]="'middle'" class="post-info" [attr.data-colormode]="uiSetting.colorMode">
                    <span *ngIf="displaySubreddit" class="subreddit-name">
                        r/{{ post.subreddit }}
                    </span>
                    <span class="author">
                        Posted by u/{{post.author}}
                    </span>
                    <span class="post-time">
                        {{ post.created_utc | parseUTC }}
                    </span>
                </div>
                <div nz-row>
                    <span class="title" [attr.data-colormode]="uiSetting.colorMode">
                        <a (click)="openPost(post.permalink)">{{post.title}}</a>
                    </span>
                </div>
                <div nz-row [nzAlign]="'middle'" class="score-comment" [attr.data-colormode]="uiSetting.colorMode">
                    <span>
                        <span nz-icon nzType="arrow-up" nzTheme="outline"></span>
                        {{ post.score }}
                    </span>
                    <nz-divider nzType="vertical"></nz-divider>
                    <span>
                        <span nz-icon nzType="comment" nzTheme="outline"></span>
                        {{ post.num_comments }}
                    </span>
                </div>
            </div>
            <div nz-col nzSpan="4">
                
            </div>
        </div>
    </div>
    <ng-container *ngIf="!loading">
        <div nz-row [nzJustify]="'center'" [nzAlign]="'middle'" class="load-more-btn">
            <a>Load More</a>
        </div>
    </ng-container>
    <ng-container *ngIf="loading">
        <div class="loading-spin">
            <nz-spin nzSimple></nz-spin>
        </div>
    </ng-container>
</div>

<nz-modal [(nzVisible)]="displayPostDetail" [nzContent]="modalContent" (nzOnCancel)="closePost()" [nzFooter]="null"
    [nzWidth]="'50%'">
    <ng-template #modalContent>
        <post-page [post]="openedPost" [comments]="commentList" [loading]="postLoading"></post-page>
    </ng-template>
</nz-modal>
