@import "../../scss/color";

.post-cell {
    margin: 10px 25px 10px 25px;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px 10px 10px 15px;

    &[data-colormode = 'light'] {
        border-color: $LIGHT_BG_COLOR;
    }

    &[data-colormode = 'dark'] {
        border-color: $DARK_BG_COLOR;
    }
}

.post-info {
    span {
        font-size: 0.9em;
    }

    .subreddit-name {
        margin-right: 15px;
    }

    .post-time {
        margin-left: 15px;
    }

    &[data-colormode = 'light'] {
        color: $LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        color: $DARK_TEXT_COLOR;
    }
}

.title {
    font-size: 1.2em;
    font-weight: 600;
    margin: 5px 0px 10px 0px;

    a:hover {
        color: $LINK_HOVERED_COLOR;
    }

    &[data-colormode = 'light'] {
        a {
            color: $LIGHT_TEXT_COLOR;
        }
    }

    &[data-colormode = 'dark'] {
        a {
            color: $DARK_TEXT_COLOR
        }
    }
}

.score-comment {
    &[data-colormode = 'light'] {
        color: $LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        color: $DARK_TEXT_COLOR;
    }
}

.load-more {
    height: 45px;
    margin-bottom: 10px;
}