@import "../../scss/color";

.post-cell-light {
    border-color: $LIGHT_BG_COLOR;
}

.title-light {
    a {
        color: $LIGHT_TEXT_COLOR;
    }
}

.post-info-light {
    color: $LIGHT_TEXT_COLOR;
}

.score-comment-light {
    color: $LIGHT_TEXT_COLOR;
}