<div class="content-container">
    <div nz-row [nzAlign]="'middle'" [nzJustify]="'space-between'" class="post-list-toolbar" [attr.data-colormode]="uiSetting.colorMode">
        <div class="subreddit-name" [attr.data-colormode]="uiSetting.colorMode">
            <span>r/{{subreddit}}</span>
        </div>
        <div class="sort-buttons">
            <button nz-button nzShape="round" class="sort-button"
                [ngClass]="listingOption === 'hot' ? 'sort-button-selected' : ''"
                [attr.data-colormode]="uiSetting.colorMode"
                (click)="setListingOption('hot')">
                Hot
            </button>
            <button nz-button nzShape="round" class="sort-button"
                [ngClass]="listingOption === 'new' ? 'sort-button-selected' : ''"
                [attr.data-colormode]="uiSetting.colorMode"
                (click)="setListingOption('new')">
                New
            </button>
            <button nz-button nzShape="round" class="sort-button"
                [ngClass]="listingOption === 'rising' ? 'sort-button-selected' : ''"
                [attr.data-colormode]="uiSetting.colorMode"
                (click)="setListingOption('rising')">
                Rising
            </button>
        </div>
    </div>
    <div class="post-list">
        <post-list 
            [posts]="posts" 
            [loading]="postListLoading"
            [displaySubreddit]="false"
            (load)="loadPosts($event)">
        </post-list>
    </div>
</div>