<div class="content-container">
    <div nz-row [nzAlign]="'middle'" [nzJustify]="'space-between'"
         class="post-list-toolbar" [attr.data-colormode]="uiSetting.colorMode">
        <div nz-row [nzAlign]="'middle'">
            <div class="subreddit-name" [attr.data-colormode]="uiSetting.colorMode">
                <span>r/{{subreddit}}</span>
            </div>
            <div class="subreddit-favorites">
                @if (isFavorite) {
                    <button nz-button nzType="text" class="subreddit-favorite-btn" (click)="removeFavorite()"
                            tooltip [tooltipPlacement]="'right'" [tooltipContent]="removeFavoriteTemplate">
                        <span nz-icon nzType="star" nzTheme="fill" style="height: 100%"></span>
                    </button>
                } @else {
                    <button nz-button nzType="text" class="subreddit-favorite-btn" (click)="saveFavorite()"
                            tooltip [tooltipPlacement]="'right'" [tooltipContent]="addFavoriteTemplate">
                        <span nz-icon nzType="star" nzTheme="outline"></span>
                    </button>
                }
            </div>
        </div>
        <div class="sort-buttons">
            <button nz-button nzShape="round" class="sort-button"
                [ngClass]="listingOption === 'hot' ? 'sort-button-selected' : ''"
                [attr.data-colormode]="uiSetting.colorMode" (click)="setListingOption('hot')">
                Hot
            </button>
            <button nz-button nzShape="round" class="sort-button"
                [ngClass]="listingOption === 'new' ? 'sort-button-selected' : ''"
                [attr.data-colormode]="uiSetting.colorMode" (click)="setListingOption('new')">
                New
            </button>
            <button nz-button nzShape="round" class="sort-button"
                [ngClass]="listingOption === 'rising' ? 'sort-button-selected' : ''"
                [attr.data-colormode]="uiSetting.colorMode" (click)="setListingOption('rising')">
                Rising
            </button>
        </div>
    </div>
    <div class="post-list">
        <post-list [posts]="posts" [loading]="postListLoading" [displaySubreddit]="false"
                   (load)="loadPosts($event)"></post-list>
    </div>
</div>

<ng-template #addFavoriteTemplate>
    <tooltip-content [text]="'Add this subreddit to favorites'"
                     [colorMode]="uiSetting.colorMode"></tooltip-content>
</ng-template>

<ng-template #removeFavoriteTemplate>
    <tooltip-content [text]="'Remove this subreddit from favorites'"
                     [colorMode]="uiSetting.colorMode"></tooltip-content>
</ng-template>
