@import "../../scss/color";
@import "../../scss/font";
@import "../../scss/layout";

.content-container {
    display: block;
    width: 100%;
    height: 100%;
}

.post-list-toolbar {
    width: 100%;
    height: $POST_LIST_TOOLBAR_HEIGHT;

    &[data-colormode = 'light'] {
        background-color: $LIGHT_HEADER_COLOR;
        border-bottom: 1px solid $LIGHT_HEADER_BOTTOM_BORDER_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: $DARK_HEADER_COLOR;
        border-bottom: 1px solid $DARK_HEADER_BOTTOM_BORDER_COLOR;
    }
}

.subreddit-name {
    margin-left: 25px;
    font-size: $FONT_SIZE_HEADLINE;
    font-weight: $FONT_WEIGHT_HEADLINE;

    &[data-colormode = 'light'] {
        color: $LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        color: $DARK_TEXT_COLOR;
    }
}

.sort-button {
    width: 75px;
    height: calc($POST_LIST_TOOLBAR_HEIGHT - 10px);
    margin: 5px 5px 5px 0;
    font-size: $FONT_SIZE_SUBHEAD;
    font-weight: $FONT_WEIGHT_SUBHEAD;

    &[data-colormode = 'light'] {
        background-color: $LIGHT_POST_CELL_BG_COLOR;
        color: $LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: $DARK_POST_CELL_BG_COLOR;
        color: $DARK_TEXT_COLOR;
    }
}

.sort-button-selected {
    background-color: $LINK_HOVERED_COLOR !important;
    color: $DARK_TEXT_COLOR !important;
}

.post-list {
    display: block;
    width: 100%;
    height: calc(100% - $POST_LIST_TOOLBAR_HEIGHT);
    overflow: scroll;
}
