@import "../../scss/color";
@import "../../scss/font";
@import "../../scss/layout";

.content-container {
    display: block;
    width: 100%;
    height: 100%;
}

.post-list-toolbar {
    width: 100%;
    height: $POST_LIST_TOOLBAR_HEIGHT;

    &[data-colormode = 'light'] {
        background-color: $LIGHT_HEADER_COLOR;
        border-bottom: 1px solid $LIGHT_HEADER_BOTTOM_BORDER_COLOR;
    }

    &[data-colormode = 'dark'] {
        background-color: $DARK_HEADER_COLOR;
        border-bottom: 1px solid $DARK_HEADER_BOTTOM_BORDER_COLOR;
    }
}

.subreddit-name {
    margin-left: 25px;
    font-weight: 600;
    font-size: $FONT_SIZE_HEADLINE;
    font-weight: $FONT_WEIGHT_HEADLINE;

    &[data-colormode = 'light'] {
        color: $LIGHT_TEXT_COLOR;
    }

    &[data-colormode = 'dark'] {
        color: $DARK_TEXT_COLOR;
    }
}

.post-list {
    display: block;
    width: 100%;
    height: calc(100% - $POST_LIST_TOOLBAR_HEIGHT);
    overflow: scroll;
}