$LIGHT_BG_COLOR: #E7E7E7;
$DARK_BG_COLOR: #152238;

$LIGHT_HEADER_COLOR: #C9F4FE;
$DARK_HEADER_COLOR: #001529;

$LIGHT_INNER_BG_COLOR: #F3F3F4;
$DARK_INNER_BG_COLOR: #000000;

$LIGHT_TEXT_COLOR: #101010;
$DARK_TEXT_COLOR: #FEFEFE;