$FONT_SIZE_BODY: 15px;
$FONT_SIZE_TITLE1: 25px;
$FONT_SIZE_TITLE2: 20px;
$FONT_SIZE_TITLE3: 17px;
$FONT_SIZE_HEADLINE: 15px;
$FONT_SIZE_SUBHEAD: 13px;

$FONT_WEIGHT_BODY: 400;
$FONT_WEIGHT_TITLE1: 500;
$FONT_WEIGHT_TITLE2: 500;
$FONT_WEIGHT_TITLE3: 500;
$FONT_WEIGHT_HEADLINE: 600;
$FONT_WEIGHT_SUBHEAD: 500;